/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.so
*.o
*.a
mkmf.log

# Ignore development related binstubs
/bin/

# Ignore bundler related files
/bundle/
*.bundle
